<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
	<h1>post data to server-</h1>

	<form id="home-form" action="/" method="PUT">
	<label for="who">what is your name</label>
	<input type="text" name="who" >
	<label for="number">what is your number</label>
	<input type="text" name="number" >
	<label for="age">what is your age</label>
	<input type="text" name="age" >
	<label for="lat">what is your lattitude</label>
	<input type="text" name="lat" >
	<label for="lng">what is your longitude</label>
	<input type="text" name="lng" >
	<input type="submit" value="submit">
	</form>
</body>
</html>
